#footer{
    width: 100%;
    .container{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 50px 40px;
        border-top: 1px solid #22222280;
        .gap{
            .content{
                display: flex;
                flex-flow: column;
                .row1{
                    display: flex;
                    justify-content: space-between;
                    padding: 0 0 55px 0;
                    border-bottom: 1px solid #22222280;
                    .left-box{
                        display: flex;
                        .left-txt{
                            padding: 0 20px 0 0;
                            h2{
                                font-size: 16px;
                                color: #222;
                                font-weight: 600;
                            }
                            ul{
                                padding: 16px 0 0 0;
                                li{
                                    margin: 12px 0 0 0;
                                    a{
                                        font-size: 14px;
                                        color: #22222280;
                                    }
                                }
                            }
                        }
                        .right-txt{
                            padding: 0 0 0 100px;
                            h2{
                                font-size: 16px;
                                color: #222;
                                font-weight: 600;
                            }
                            ul{
                                padding: 16px 0 0 0;
                                li{
                                    margin: 12px 0 0 0;
                                    a{
                                        font-size: 14px;
                                        color: #22222280;
                                    }
                                }
                            }
                        }
                    }
                    .right-box{
                        ul{
                            li{
                                display: flex;
                                h2{
                                    font-size: 16px;
                                    color: #222;
                                    font-weight: 600;
                                    padding: 0 0 8px 0;
                                    a{

                                    }
                                }
                                h3{
                                    font-size: 13px;
                                    color: #22222280;
                                    line-height: 20px;
                                    letter-spacing: -0.7px;
                                }
                                h4{
                                    font-size: 13px;
                                    padding: 8px 0 0 0;
                                    color: #222;
                                    margin: 0 0 10px 0;
                                }
                            }
                        }
                        .button{
                            width: 100px;
                            height: 34px;
                            background-color: #000;
                            color: #fff;
                            font-weight: 700;
                            font-size: 18px;
                            border: 0;
                            cursor: pointer;
                            font-size: 10px;
                            line-height: 34px;
                            text-align: center;
                            border-radius: 4px;
                        }
                    }}
                }
                .row2{
                    display: flex;
                    justify-content: space-between;
                    margin:  30px 0 0 0;
                    .left-txt2{
                        ul{
                            display: flex;
                            padding: 0 0 15px 0;
                            li{
                                margin: 0 20px 0 0;
                                a{
                                    font-size: 14px;
                                    color: #000;
                                    letter-spacing: -0.21px;
                                }
                                .alone{
                                    color: #000;
                                    font-weight: 700;
                                }
                            }
                        }
                        p{
                            max-width: 650px;
                            font-size: 12px;
                            color: #22222280;
                            line-height: 20px;
                            .blank{
                                margin: 0 8px 0 0;
                            }
                            a{
                                text-decoration: underline;
                                color: #22222280;
                            }
                        }
                    }
                    .right-txt2{
                        a{
                            margin: 0 10px;
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
                .row3{
                    padding: 40px 0 8px;
                    h3{
                        font-size: 12px;
                        color: #222;
                        font-weight: 700;
                        letter-spacing: -0.6px;
                    }
                    h4{
                        font-size: 11px;
                        letter-spacing: -0.6px;
                        a{
                            text-decoration: underline;
                            font-size: 11px;
                        }
                    }
                }
                .row4{
                    display: flex;
                    justify-content: space-between;
                    padding: 12px 0 0 0;
                    .left-txt4{
                        width: 100%;
                        .txt{
                            max-width: 605px;
                            font-size: 12px;
                            color: #22222280;
                        }
                    }
                    .right-txt4{
                        display: flex;
                        align-items: flex-end;
                        .copyright{
                            font-size: 12px;
                            color: #22222280;
                        }
                    }
                }
            }
        }
    }