#section14{
    width: 100%;
    background-color: rgb(169, 184, 171);
    .container{
        width: 100%;
        max-width: 1280px;
        height: 480px;
        margin: 0 auto;
        .gap{
            width: 100%;
            .content{
                width: 100%;
                a{
                    width: 100%;
                    img{
                        height: 480px;
                    }
                }
            }
        }
    }
}