#search {
  width: 100%;
  height: 100%;
}
#search .container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
#search .container .gap {
  width: 100%;
}
#search .container .gap .content {
  width: 100%;
}
#search .container .gap .content .search-searching__box {
  width: 100%;
  max-width: 770px;
  padding-bottom: 16px;
  border-bottom: 3px solid #000;
  overflow: hidden;
  position: relative;
}
#search .container .gap .content .search-searching__box #searchingInput {
  width: 100%;
  border: 0;
  outline: none;
  font-size: 24px;
  font-weight: 700;
  padding: 0 13px 0 1px;
}
#search .container .gap .content .search-searching__box #searchingInput::-moz-placeholder {
  opacity: 0.4;
  font-size: 22px;
}
#search .container .gap .content .search-searching__box #searchingInput::placeholder {
  opacity: 0.4;
  font-size: 22px;
}
#search .container .gap .content .search-searching__box .search-close__btn {
  display: none;
}
#search .container .gap .content .search-searching__box .search-close__btn.on {
  display: block;
  width: 24px;
  height: 24px;
  border: 0;
  font-weight: 600;
  font-size: 15px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
#search .container .gap .content .seach-recommand__box {
  margin-top: 20px;
  padding-bottom: 40px;
}
#search .container .gap .content .seach-recommand__box .recommand-text__box > span {
  font-size: 17px;
  font-weight: 700;
  color: #222;
}
#search .container .gap .content .seach-recommand__box .recommand-btn__box {
  width: 100%;
  padding-top: 15px;
}
#search .container .gap .content .seach-recommand__box .recommand-btn__box .recommand-btn {
  display: inline-block;
  max-width: 142px;
  overflow: hidden;
  font-size: 14px;
  color: rgba(34, 34, 34, 0.8);
  background-color: #f4f4f4;
  border: 1px solid #ebebeb;
  border-radius: 20px;
  margin: 0 8px 12px 0;
  text-overflow: ellipsis;
  padding: 8px 12px;
}
#search .container .gap .content .search-popular__box {
  padding-bottom: 100px;
}
#search .container .gap .content .search-popular__box .search-popular__text {
  padding-bottom: 15px;
}
#search .container .gap .content .search-popular__box .search-popular__text > span {
  font-size: 17px;
  font-weight: 700;
  color: #222;
  padding-right: 6px;
}
#search .container .gap .content .search-popular__box .search-popular__text > span:last-child {
  font-size: 13px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.5);
}
#search .container .gap .content .search-popular__box .search-list__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#search .container .gap .content .search-popular__box .search-list__box .search-popular__list li {
  padding-top: 4px;
  padding-bottom: 20px;
}
#search .container .gap .content .search-popular__box .search-list__box .search-popular__list li span {
  font-size: 14px;
  font-weight: 600;
  padding-right: 5px;
  color: #222;
}
#search .container .gap .content .search-popular__box .search-list__box .search-popular__list li a {
  font-size: 16px;
  font-weight: 400;
}
#search .container .gap .content .search-suggest__box {
  padding: 9px;
  cursor: pointer;
}
#search .container .gap .content .search-suggest__box li {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}
#search .container .gap .content .search-suggest__box li.search-suggest__product {
  position: relative;
}
#search .container .gap .content .search-suggest__box li.search-suggest__product a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
#search .container .gap .content .search-suggest__box li.search-suggest__product a p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.5);
  margin-top: 2px;
  padding-left: 60px;
}
#search .container .gap .content .search-suggest__box li.search-suggest__product a p.suggest__desc {
  font-size: 14px;
  color: #000;
}
#search .container .gap .content .search-suggest__box li.suggest-result__num a {
  font-size: 12px;
}
#search .container .gap .content .search-suggest__box li.suggest-result__num a a {
  font-size: 14px;
  font-weight: 700;
}
#search .container .gap .content .search-suggest__box li.suggest-result__num a a i {
  padding-left: 7px;
}
#search .container .gap .content .search-suggest__box li > a p {
  font-size: 12px;
  font-weight: 400;
  color: rgba(34, 34, 34, 0.5);
  margin-top: 2px;
}
#search .container .gap .content .search-suggest__box li > a p:first-child {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
#search .container .gap .content .search-suggest__box li > a a {
  position: absolute;
  top: 23px;
  right: 0;
  font-size: 0;
  padding-right: 30px;
}
#search .container .gap .content .search-suggest__box li > a a img {
  width: 32px;
  height: 32px;
}
#search .container .gap .content .search-result__box {
  position: relative;
  padding-top: 120px;
  padding-bottom: 100px;
  background-color: #fff;
  text-align: center;
}
#search .container .gap .content .search-result__box > p:first-child {
  font-size: 16px;
  color: rgba(34, 34, 34, 0.8);
}
#search .container .gap .content .search-result__box > p:last-child {
  font-size: 13px;
  padding-top: 6px;
  color: rgba(34, 34, 34, 0.5);
}