#section22 {
  width: 100%;
  background-color: rgb(137, 152, 174);
}
#section22 .container {
  width: 100%;
  max-width: 1280px;
  height: 480px;
  margin: 0 auto;
}
#section22 .container .gap {
  width: 100%;
}
#section22 .container .gap .content {
  width: 100%;
}
#section22 .container .gap .content a {
  width: 100%;
}
#section22 .container .gap .content a img {
  height: 480px;
}