#section16 {
  width: 100%;
  background-color: rgb(205, 232, 228);
}
#section16 .container {
  width: 100%;
  max-width: 1280px;
  height: 480px;
  margin: 0 auto;
}
#section16 .container .gap {
  width: 100%;
}
#section16 .container .gap .content {
  width: 100%;
}
#section16 .container .gap .content a {
  width: 100%;
}
#section16 .container .gap .content a img {
  height: 480px;
}