#sub1_section5 {
  width: 100%;
}
#sub1_section5 .container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 40px 0 56px 0;
}
#sub1_section5 .container .gap {
  width: 100%;
}
#sub1_section5 .container .gap .title {
  width: 100%;
}
#sub1_section5 .container .gap .title h2 {
  font-size: 17px;
  font-weight: 700;
  color: #000;
  padding: 0 0 5px 0;
}
#sub1_section5 .container .gap .content {
  width: 100%;
}
#sub1_section5 .container .gap .content .content-box {
  padding-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 8px;
       column-gap: 8px;
  row-gap: 8px;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box {
  position: relative;
  width: 100%;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box a {
  position: relative;
  width: 100%;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box a > img {
  position: relative;
  width: 294px;
  height: 294px;
  border-radius: 10px;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box a > span {
  z-index: 1;
  position: absolute;
  bottom: -130px;
  right: 10px;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box a > span img {
  width: 24px;
  height: 24px;
}
#sub1_section5 .container .gap .content .content-box .img_txt-box a p {
  z-index: 1;
  position: absolute;
  top: -130px;
  left: 8px;
  border: 1px solid #000;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
#sub1_section5 .container .gap .content .content-box ul li {
  width: 100%;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(1) {
  padding-top: 10px;
  font-size: 13px;
  font-weight: 700;
  color: #222;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(2) {
  padding-top: 5px;
  font-size: 13px;
  font-weight: 400;
  color: #222;
  margin-bottom: 2px;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(3) {
  padding-top: 5px;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(3) .tag-box {
  display: flex;
  width: 55px;
  background-color: #f2f9f6;
  border-radius: 2px;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(3) .tag-box img {
  width: 12px;
  height: 12px;
  margin-right: 1.5px;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(3) .tag-box span {
  font-size: 10px;
  color: #31B46E;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(4) {
  font-size: 14px;
  font-weight: 700;
  color: #222;
  padding-top: 10px;
}
#sub1_section5 .container .gap .content .content-box ul li:nth-child(5) {
  font-size: 11px;
  color: rgba(34, 34, 34, 0.5019607843);
  padding-top: 5px;
}
#sub1_section5 .container .gap .btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub1_section5 .container .gap .btn-box button {
  width: 100px;
  height: 40px;
  font-size: 14px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: rgba(34, 34, 34, 0.8);
  cursor: pointer;
  margin: 20px 0 0 0;
}