#wrap {
  width: 100%;
}
#wrap #header-slide .container {
  width: 100%;
  height: 186px;
  max-width: 1280px;
  margin: 0 auto;
}
#wrap #header-slide .container .content-small {
  width: 100%;
  padding: 16px 0;
  height: 140px;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}
#wrap #header-slide .container .content-small .title-slide-container {
  width: 100%;
  position: relative;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap {
  position: relative;
  width: 100%/9;
  display: flex;
  margin: 0 0 25px 0;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap .title-slide {
  padding: 0 22px;
  width: 100%;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap .title-slide:first-child {
  margin-left: 10px;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap .title-slide a {
  text-align: center;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap .title-slide a img {
  width: 90px;
  height: 90px;
}
#wrap #header-slide .container .content-small .title-slide-container .title-slide-view .title-slide-wrap .title-slide a h4 {
  font-size: 13px;
  color: #222;
}
#wrap #header-slide .container .content-small .header-slide-arrow-next {
  position: absolute;
  bottom: 5%;
  right: 47%;
  z-index: 4;
}
#wrap #header-slide .container .content-small .header-slide-arrow-next img {
  width: 30px;
  height: 30px;
}
#wrap #header-slide .container .content-small .header-slide-arrow-prev {
  position: absolute;
  transform: rotate(180deg);
  bottom: 5%;
  left: 45%;
  z-index: 4;
}
#wrap #header-slide .container .content-small .header-slide-arrow-prev img {
  width: 30px;
  height: 30px;
}
#wrap #header-slide .container .content-small > .page-btn-box {
  background-color: transparent;
  position: absolute;
  z-index: 3;
  top: 82%;
  left: -10px;
  width: 100%;
  text-align: center;
}
#wrap #header-slide .container .content-small > .page-btn-box > span {
  margin: 0 5px;
}
#wrap #header-slide .container .content-small > .page-btn-box > span > a {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}
#wrap #header-slide .container .content-small > .page-btn-box > span > a.on {
  background-color: rgb(0, 0, 0);
}