.sub3_slide-container {
  position: relative;
  width: 100%;
}
.sub3_slide-container .sub3_slide-view {
  z-index: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.sub3_slide-container .sub3_slide-view .sub3_slide-wrap {
  width: 500%;
  display: flex;
  margin: 0 0 0 -100%;
  position: relative;
}
.sub3_slide-container .sub3_slide-view .sub3_slide-wrap .sub3_slide {
  width: 100%;
  height: 480px;
}
.sub3_slide-container .sub3_slide-view .sub3_slide-wrap .sub3_slide a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.sub3_slide-container .sub3_slide-view .sub3_slide-wrap .sub3_slide a img {
  width: 100%;
  height: 480px;
}
.sub3_slide-container .left-arrorw-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -26px 0 0 -650px;
  z-index: 2;
  transform: rotate(180deg);
}
.sub3_slide-container .right-arrorw-btn {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -26px -650px 0 0;
  z-index: 2;
}