#wrap{
    width: 100%;
    .container2{
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 40px 0 40px;
        position: relative;

        .content2{
            width: 100%;
            display: flex;
            .left{
                width: 210px * 1;
                height: 100%;
                position: sticky;
                margin-right: 10px;
                padding-right:10px ;
                overflow-y: auto;

                .left-filter{
                    width: 100%;
                    .filter-title{
                        width: 100%;
                        margin: 20px 0 16px 0 ;
                        strong{
                         
                            font-size: 14px;
                            font-weight: 700;
                            color:  #222;
                            text-align:left ;
                          
                        }
                    }
                  .filter-a{
                    padding: 8px 12px 7px 12px;
                    display: inline-flex;
                    align-items: center;
                    border-bottom: 1px solid #ebebeb;
                    border-radius: 30px;
                    a{
                        display: flex;
                        span{
                                color: rgba(34,34,34,.8);
                                font-size: 12px;
                                img{
                                    width: 10px;
                                    height: 12px;
                                }
                        
                        }
                    }
                  }

                }
                .left-content{
                    width: 100%;
                    
                    div{
                        width: 100%;
                        .left-box{
                            border-bottom: 1px solid #eee;  
                            width: 100%;
                            position: relative;
                            .category-btn{ //카테고리 에이링크
                                width: 100%;
                                height: 69px;
                                padding: 16px 0 ;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                cursor: pointer;

                                .title-box{
                                    width: 100%;
                                    span{
                                            font-size: 13px;
                                            font-weight: 600;
                                            letter-spacing: -0.07px;
                                    }
                                    .cata-all{
                                        font-size: 14px;
                                        color: rgba(34,34,34,.5);
                                        letter-spacing: -.15px;
                                        margin-top: 5px;
                                        display: none;
                                        &.on{
                                            display: block;
                                        }
                                        }
                                }
                                .icon-box{
                                    display: flex;
                                    justify-content: end;
                                    img{
                                        width: 15px;
                                        height: 15px;
                                    }
                                }

                            }
                            .sub3{
                                width: 100%;
                                height: 320px;
                                overflow-y: scroll;
                                &::-webkit-scrollbar {
                                background-color: transparent;
                                width: 0px;
                                }
                            }
                            .sub3:hover{
                                  &::-webkit-scrollbar {
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-thumb {
                                  background-color: rgba(0,0,0,.2)
                                }
                            }
                            .sub4{
                                height: 320px;
                                overflow-y: scroll;
                                &::-webkit-scrollbar {
                                    background-color: transparent;
                                    width: 0px;
                                    }
                            }
                            .sub4:hover{
                                &::-webkit-scrollbar {
                                  width: 8px;
                              }
                              &::-webkit-scrollbar-thumb {
                                background-color: rgba(0,0,0,.2)
                              }
                          }
                            .sub{
                                
                                width: 100%;

                                margin: 0 0 24px 0;

                                
                               
                                ul{
                           
                                    li{
                                        padding: 10px 0 0 0;
                                        label{
                                            font-size: 14px;
                                            color: #222;
                                            transition: all 0.1s;
                                           
                                            input{
                                                    font-size: 14px;
                                                    width: 16px;
                                                    height: 16px;
                                                    margin: 0 5px 0 0;
                                                    appearance:none;
                                                    border: 0;
                                                    background:url(../images/ico_check_inactive.svg);
                                                
                                                    &:checked{
                                                        background:url(../images/ico_check_active.svg);
                                                        background-size: cover;
                                                        background-repeat: repeat;
                                                        background-position: 14px 12px;
                                                            }

                                                }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .right{
                width: 100%;
                position: relative;
                .right-title-wrap{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 20px 0 24px 0 ;
                    .shop-count{
                        width: 100%;
                        > span{
                            font-size: 13px;
                            color: rgba(34,34,34,.8);
                        }
                    }
                    .filter-btn-wrap{
                        display: block;
                        width: 70px;
                        height: 24px;
                        cursor: pointer;
                        display: flex;
                        button{
                            border: 0;
                            color: #222;
                            font-size: 13px;
                            background-color: transparent;
                            cursor: pointer;

                        }
                        img{
                            width: 18px;
                            height: 18px;
                            margin-left: 3px;
                            margin-top:2px ;
                        }
                    }

                }
                .filter{
                    display: none;
                    width: 276px;
                    height: 464px;
                    justify-content: left;
                    align-items: center;
                    background-color: #fff;
                    border: 1px solid rgba(238, 238, 238, 0.5);
                    position: absolute;
                    top: 45px;
                    right:0 ;
                    z-index: 3;
                 
                    &.on{
                    display: block;  
                    }

                    > ul{
                        width: 100%;
                        text-align: left;

                        > li{
                            width: 100%;
                            height: 58px;
                            padding: 12px 36px 12px 16px;
                            &:hover{
                                background-color:rgba(238, 238, 238,.3);
                            }
                            .filter-a{
                                display: block;
                                &.on{
                                    font-weight: 700;
                                    text-decoration: underline  ;
                                    // background-image: url(../images/shop_main_all/3705788.png);
                                    // background-repeat: no-repeat;
                                    // background-position: 200px 10px;
                                    // background-size: 15px;
                                }   
                                .main-dsc{
                                    font-size: 14px;
                                    letter-spacing: -.21px;
                                    // &.on{
                                    //     font-weight: 700;
                                    // }

                                }
                                .sub-dsc{
                                    font-size: 12px;
                                    padding-top: 4px;
                                    color: rgba(34,34,34,.5);
                                }
                            }
                        }
                    }
                }
                .right-product-wrap{
                    position: relative;
                    width: 100%;
                    .product-list{
                        width: 100%;
                        display: flex;
                        width: 100%;
                        flex-flow: row wrap;
                        justify-content: space-between;
                        .p-list{
                            width: 230px;
                            margin-right:20px;  
                            margin-bottom:40px ;
                            .product-a{
                                width: 100%;
                                .img-box{
                                    width: 100%;
                                    height: 230px;
                                    //background-color: rgb(246, 238, 237);
                                    border-radius: 10px;
                                    text-align: center;
                                    position: relative;
                                    > img{
                                   
                                        width: 230px;
                                        height: 230px;
                                    }

                                }
                                .title-box{
                                    padding: 8px 4px 0 4px;
                                    h2{
                                        display: flex;
                                        align-items: center;
                                        color: #333;
                                        font-size: 13px;
                                        line-height: 16px;
                                        letter-spacing: -.07px;
                                        font-weight: 700;
                                    }
                                    .main-name{
                                        font-size: 13px;
                                        line-height: 16px;
                                        color: #222;

                                    }
                                    .desc{
                                        font-size: 11px;
                                        margin-top: 2px;
                                        line-height: 13px;
                                        color: rgba(34,34,34,.5);
                                    }
                                    .deliver{
                                        display: inline-flex;
                                        background-color: rgb(242, 249, 246);
                                        padding: 4px;
                                        margin-right:4px ;
                                        img{
                                            width: 12px;
                                            height: 12px;
                                        }
                                        span{
                                            color: rgb(49, 180, 110);
                                            font-size: 10px;
                                        }
                                    }
                                    .price-wrap{
                                        padding: 0 4px;
                                        margin-top: 12px;
                                        .amount{
                                            line-height: 17px;
                                            font-weight: 700;
                                            font-size: 14px;
                                        }
                                        .discribe{  
                                            color: rgba(34, 34, 34, 0.5);
                                            margin-top: 2px;
                                            font-size: 11px;
                                            line-height: 13px;

                                        }   
                                    }
                                    .action-wish-review{
                                        padding: 12px 4px 0 4px;
                                        .wish-img{
                                                margin-right:4px ;
                                            img{
                                                    width: 14px;
                                                    height: 16px;
                                            }
                                        }
                                        .wish-content{
                                            font-size: 12px;
                                            color: rgba(34, 34, 34, 0.5);
                                            letter-spacing: -0.06px;
                                            margin-right: 5px;
                                        }
                                        .review-img{
                                            img{}
                                        }
                                        .review-content{
                                            font-size: 12px;
                                            color: rgba(34, 34, 34, 0.5);
                                            letter-spacing: -0.06px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}